*.py[c|o[d]
*.swp
.spyderproject
Thumbs.db
_Inline/
/build/
Wphase.egg*/
/outputs
/tests/test-datasets
prof
tests/prof
/scratch
/CMakeFiles
/CMakeCache.txt
/tests/validation_cases.json
tests/*.tar.gz
